body {
  /*background: #64ADF0;*/
  font-family: “Trebuchet MS”, Verdana, Arial, serif;
  width: 960px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

#navlist li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
