p Hello from #{pademo_github_gem("pademo-base")}!

p Congratulations, you are running the demo, but actually all the fun is not in browsing this app running, but exploring the code. You will be better of by going to the <a href='https://github.com/zenbits/pademo/tree/master/vendors'>code in Github</a> and do some source code spelunking


