p Hello World!

p Here you are an asset from your main pipeline: <a href="/assets/application.css">/assets/application.css</a>

p And this image comes from your gem pipeline: <a href="/pipeline/assets/padrino.png"> /pipeline/assets/padrino.png</a>

p 
  a href="/pipeline/assets/padrino.png"
    img src="/pipeline/assets/padrino.png"


p.text1 This paragraph style comes from a <a href='https://github.com/zenbits/pademo/blob/master/vendors/pademo-base/app/stylesheets/sassy-global.scss'>SASS file</a> in pademo-base

p.text2 This paragraph <a href='https://github.com/zenbits/pademo/blob/master/vendors/pademo-pipeline/app/stylesheets/sassy-local.css.scss#L1'>extends locally</a> the previous style
